
<div class="io-section-heading">
    <img width="80px" src="app/logos/solutions_bajaj.png" class="responsive-img no-flex">
    <h4> Part-Time</h4>
    <span class="sub grey-text darken-1">Web Developer</span>
    <span class="date grey-text darken-1">June, 2012 - Jan, 2013</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Improved customer sales and company reputation, by providing rich stationary designs.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Exposed Adobe's design software to the company, by teaching the team how to affectively use Photoshop, Illustrator & InDesign.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Discovered a true passion for engaging customer's, inorder to provide the design that would best fit their need.
        </li>
    </ul>
</div>
